
.idea/libraries/

.idea/caches/

.idea/

.gradle/5.4.1/fileChanges/

.gradle/5.4.1/fileHashes/

.gradle/5.4.1/

.gradle/6.6/executionHistory/

.gradle/6.6/fileChanges/

.gradle/6.6/fileHashes/

.gradle/6.6/

.gradle/buildOutputCleanup/

.gradle/vcs-1/

.gradle/configuration-cache/

.gradle/checksums/

.gradle/6.6.1/

.gradle/6.5/
